{% extends "base.template.html" %}

{%block content%}
	<!-- start jumbotron-->
	<div class="jumbotron jumbotron-fluid mb-0" id="top-banner">
		<div class="page-width text-center">
			<h1 class="h1 mega-title mega-title--large"><b>SneakGateWay MarketPlace</b></h1>
			<h3 class="h3 mega-title mega-title--large"><b>BUY , SELL AND TRADE!!</b></h3>
            {%if current_user.is_authenticated %}

            {%else%}
            <button type="submit" id="button" class="btn btn-primary"><b>Create Account</b></button>
            {%endif%}
            <div class="signup">
                
                    <div class="signup-head">
                    <div class="close">+</div>
                    <h1 class="h1 mega-title mega-title--large"><b>Create Account</b></h1>
                        <form method="POST">
                            <input type="text" class="form-control" name="username" placeholder="Username"/>
                            <input type="text" class="form-control" name="email" placeholder="Email"/>
                            <input type="password" class="form-control" name="password" placeholder="Password"/>
                            <button type="submit" class="btn btn-primary"><b>Create Account</b></button>
                        </form>

                    </div>
            </div>
		</div>
	</div>
	<!--end jumbtron -->


<body>

	<!--Start of Card-->
	<section>
    
		<h4 class="text-center"><u><b>Market Place</b></u></h4>

        <div class="container-fluid">
        
			<div class="card-deck">
            {%for r in result %}
				<div class="card">
                <div class="thumbnail">
					<img class="card-img-top" src="{{r.image}}" alt="Card image cap">
                    </div>
					<div class="card-body">
						<h3 class="card-title"><b>{{r.name}}</b></h3>
						<h6 class="card-text">                                               
                            <h5>Price: ${{r.price}}</h5>
                            <h5>Date Posted: {{r.date}}</h5>
                            
                        
                       
                        </h6>
						<a href="{{url_for('oneproductpage',product_id=r._id)}}" class="btn btn-primary stretched-link">View Page</a>
                        
					</div>
				</div>
             {%endfor%}    
            </div>
        </div>

    {%endblock%}
	
    