{% extends "base.template.html" %}

{%block content%}
<!-- start jumbotron-->
	<div class="jumbotron jumbotron-fluid mb-0" id="top-banner">
		<div class="page-width text-center">
			<h1 class="h1 mega-title mega-title--large"><b>{{current_user.get_id()}}</b></h1>
			<h3 class="lead"><b>LISTINGS</b></h3>
            <a type="button" class="btn btn-warning btn-lg" href="{{url_for('review',username=current_user.get_id())}}"><b>My Review</b></a>
		</div>
	</div>
	<!--end jumbtron -->

	<!--Start of Card-->
	<section>
        
        
		<div class="container-fluid">
			<div class="card-deck">
				{%for p in product_post %}   
				<div class="card">
                <div class="thumbnail">
					<img class="card-img-top" src="{{p.image}}" alt="Card image cap">
                </div>
					<div class="card-body">
						<h3 class="card-title"><b>{{p.name}}</b></h3>
						<h6 class="card-text">
                         <h4>${{p.price}}</h4>
                        <h5><label><b>Size: </b></label>US{{p.size}}</h5>
                         <h5><label><b>Description: </b></label></h5>
                        <h5>{{p.description}}</h5>
                        <br>

						</h6>
                       <div class="row" style="justify-content:space-around;">
                        <a class="btn btn-outline-danger active" href="{{url_for('delete_listing',product_id=p._id,username=p.username)}}"
                        role="button"><b>Delete</b></a>
                        <a class="btn btn-outline-success active" href="{{url_for('process_edit_product',product_id=p._id,username=p.username)}}"  
                        role="button"><b>Edit</b></a>
                        </div>
					</div>
				</div>
				{%endfor%}
			</div>
		</div>

		{%endblock%}