{% extends "base.template.html" %}

{%block content%}
<!-- start jumbotron-->
	<div class="jumbotron jumbotron-fluid mb-0" id="top-banner">
		<div class="page-width text-center">
			<h1 class="h1 mega-title mega-title--large"><b>{{all_review.username}}</b></h1>
			<p class="lead"><b>Review</b></p>
		</div>
	</div>
	<!--end jumbtron -->

	<!--Start of Card-->
	<section>
    <a type="button" class="btn btn-info btn-lg" href="{{url_for('create_buyerreview',username=all_review.username)}}"><b>Buyer Review</b></a>
		<div class="container-fluid">
       
			<div class="card-deck">
				{% for r in all_review.buyerreview%}
				<div class="card">
					<div class="card-body">
						<h4 class="card-title"><b>Review By: {{r.name}}</b></h4>
						<h6 class="card-text">
                         <h4>{{r.buyerreview}}</h4>
                        

						</h6>
					</div>
                </div>
				
				{%endfor%}
			</div>
		</div>
    <a type="button" class="btn btn-success btn-lg" href="{{url_for('create_sellerreview',username=all_review.username)}}"><b>Seller Review</b></a>
		<div class="container-fluid">
       
			<div class="card-deck">
				 {% for r in all_review.sellerreview%}
				<div class="card">
					<div class="card-body">
						<h4 class="card-title"><b>Review By: {{r.name}}</b></h4>
						<h6 class="card-text">
                         <h4>{{r.sellerreview}}</h4>
                       

						</h6>
					</div>
                </div>
				
				{%endfor%}
			</div>
		</div>

		{%endblock%}