{% extends "base.template.html"%}
{%block content%}

<div class="container-fluid" style="margin-top:100px;">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-6 col-md-3">
            <form class="form-container" method="POST">
            <h3 class="text-center"><b>{{user.username}} Profile</b></h3>
            <div class="form-group">
                <label><b>Username: </b></label>
                <h4>{{user.username}}</h4>
            </div>
            <div class="form-group">
                <label><b>Email: </b></label>
                 <h4>{{user.email}}</h4>
            </div>
            <div class="row" style="justify-content:space-around;">
            <a type="button" class="btn btn-success" href="{{url_for('show_product')}}"><b>Back</b></a>
            <a type="button" class="btn btn-primary" href="{{url_for('review',username=user.username)}}"><b>Review</b></a>
            </div>
            </form>
        </div>
    </div>
</div>





{%endblock%}
