<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <label>Listing Title:</label>
        <input type="text" name="name" placeholder="Listing Title"/>
        <br/>
        <h5>Product Detail</h5>
        <label>Size:</label>
        <input type="text" name="size" placeholder="Size"/>
        <br/>
        <label>Price:</label>
        <input type="text" name="price" placeholder="Price"/>
        <br/>
        <label>Description:</label>
        <input type="textarea" name="description" placeholder="Description"/>
        <br/>
        <label>Image:</label>
        <input type="url" name="image" placeholder="Paste image URL(eg. Https://alibaba.com)" pattern="https://.*"/>
        <br/>
        <label>Date:</label>
        <input type="date" name="date"/>
        <br/>

        <input type="submit" value="List Now"/>
    </form>
</body>
</html>