<!doctype html>
{% extends "base.template.html"%}
{%block content%}



            <form class="form-container" method="POST">

                 <div class="form-group">
                <label><b>Buyer Review: </b></label>
                <input type="text" class="form-control" name="buyerreview" placeholder="Buyer Review"/>
                </div>

                <button type="submit" class="btn btn-primary"><b>Create Review</b></button>
		
				

                                
							
                    </form>    




{%endblock%}