<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <label>Listing Title:</label>
        <input type="text" name="name" value="{{product.name}}"/>
        <br/>
        <label>Size:</label>
        <input type="text" name="name" value="{{product.size}}"/>
        <br/>
        <label>Price:</label>
        <input type="text" name="price" value="{{product.price}}"/>
        <br/>
        <label>Description:</label>
        <input type="text" name="description" value="{{product.description}}"/>
        <br/>
        <label>Image</label>
        <input type="url" name="image" value="{{product.image}}"/>
        <br/>
        <input type="submit" value="EDIT"/>
    </form>
</body>
</html>