{% extends "base.template.html" %}

{%block content%}
	<!-- start jumbotron-->
	<div class="jumbotron jumbotron-fluid mb-0" id="top-banner">
		<div class="page-width text-center">
			<h1 class="h1 mega-title mega-title--large"><b>SneakGateWay Shop</b></h1>
			<p class="lead"><b>The Number One Place To Get Your Kicks</b></p>
		</div>
	</div>
	<!--end jumbtron -->


<body>

	<!--Start of Card-->
	<section>
    
		<h4 class="text-center"><u><b>New Arrival</b></u></h4>

        <div class="container-fluid">
        
			<div class="card-deck">
            {%for r in result %}
				<div class="card">
					<img class="card-img-top" src="image/yeezypic/earth.PNG" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">{{r.name}}</h5>
						<h6 class="card-text">
                        
                        <ul>
        
                            <li>Price:{{r.price}}</li>
                            <li>Description:{{r.description}}</li>
                            <li>Date Posted:{{r.date}}</li>
                            <li>Posted By: {{r.created_by}}</li>
                        </ul>
                       
                        </h6>
						<a href="yeezy.html" class="btn btn-primary stretched-link">View Page</a>
					</div>
				</div>
             {%endfor%}    
            </div>
        </div>

    {%endblock%}
	
    