{% extends "base.template.html"%}
{%block content%}

<div id="container-login">
    <form method="POST">
    <label>Username: </label>
        <input type="text" name="username" placeholder="Username"/>
    <label>Password: </label>
        <input type="password" name="password" placeholder="Password"/>
        <div id="low">
        <input class="btn btn-info active" type="submit" value="Submit">
        <a class="btn btn-outline-success active" id="register" href="{{url_for('signup')}}" role="button"><b>Sign up</b></a>
        </div>
    
    </form>
</div>

{%endblock%}


