{% extends "base.template.html" %}

{%block content%}
<!-- start jumbotron-->
	<div class="jumbotron jumbotron-fluid mb-0" id="top-banner">
		<div class="page-width text-center">
			<h1 class="h1 mega-title mega-title--large"><b>{{current_user.get_id()}}</b></h1>
			<p class="lead"><b>LISTINGS</b></p>
		</div>
	</div>
	<!--end jumbtron -->

	<!--Start of Card-->
	<section>

		<div class="container-fluid">

			<div class="card-deck">
				{%for p in product_post %}
				<div class="card">
					<img class="card-img-top" src="{{p.image}}" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">{{p.name}}</h5>
						<h6 class="card-text">


							<ul>
                                
								<li>Price:{{p.price}}</li>
                                <li>Price:{{p.size}}</li>
								<li>Description:{{p.description}}</li>
								<li>Date Posted:{{p.date}}</li>
								

							</ul>


						</h6>
						<a class="btn btn-outline-success active" href="{{url_for('process_edit_product',product_id=p._id,username=p.username)}}"  
                        role="button">edit</a>
                    
                        <a class="btn btn-outline-danger active" href="{{url_for('delete_listing',product_id=p._id,username=p.username)}}"
                        role="button">delete</a>
					</div>
				</div>
				{%endfor%}
			</div>
		</div>

		{%endblock%}