<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    {%for p in product_post %}
    <ul>
        <li>Name:{{p.name}}</li>
        <li>Price:{{p.price}}</li>
        <li>Description:{{p.description}}</li>
        <li>Date Posted:{{p.date}}</li>
        <li>Posted By:{{p.created_by}}</li>
        <li><a href="{{url_for('process_edit_product',product_id=p._id,username=p.username)}}">edit</a></li>
        <li><a href="{{url_for('delete_listing',product_id=p._id,username=p.username)}}">delete</a></li>

        
    </ul>
    {%endfor%}

      
   
</body>
</html>