{% extends "base.template.html"%}
{%block content%}

<h3>Search:{{searchtext}}</h3>

		<div class="container-fluid">
			<div class="card-deck">
				 {% for r in found %}
				<div class="card">
                 <div class="thumbnail">
                        <img class="card-img-top" src="{{r.image}}" alt="Card image cap">
                        </div>
					<div class="card-body">
                        <h3 class="card-title"><b>{{r.name}}</b></h3>
						<h6 class="card-text">
                         <h4>${{r.price}}</h4>
                         </h6>
                        <div class="row" style="justify-content:space-around;">
                          <a type="button" class="btn btn-success" href="{{url_for('show_product')}}"><b>Back</b></a>
                         <a type="button" class="btn btn-primary" href="{{url_for('oneproductpage',product_id=r._id)}}">View More</a>
                        </div>
                        

						
					</div>
                </div>
				
				{%endfor%}
			</div>
		</div>

<!-- 				
Start of Card
		<div class="container-fluid">

			<div class="card-deck">
            {%for r in found%}
				<div class="card">
                <div class="thumbnail">
                 
					<img class="card-img-top" src="{{r.image}}" alt="Card image cap">
                    </div>
					<div class="card-body">
						<h3 class="card-title"><b>{{r.name}}</b></h3>
                       
                        <a type="button" class="btn btn-success" href="{{url_for('show_product')}}"><b>Back</b></a>
                        <a href="{{url_for('oneproductpage',product_id=r._id)}}"><h6>{{r.name}}</h6></a>

					</div>
				</div>
			{%endfor%}
			</div>
		</div> -->
    
    <!--End of Card-->
                                
							
{%endblock%}