{% extends "base.template.html"%}
{%block content%}

<h3>Search:{{searchtext}}</h3>



             <h1>Seller Review</h1>
		<div class="container-fluid">
       
			<div class="card-deck">
				 {% for r in found %}
				<div class="card">
					<div class="card-body">
						<h3 class="card-title"><b>Seller Review</b></h3>
						<h6 class="card-text">
                         <a href="{{url_for('oneproductpage',product_id=r._id)}}"><h6>{{r.name}}</h6></a>
                        

						</h6>
					</div>
                </div>
				
				{%endfor%}
			</div>
		</div>

				

                                
							
                    </form>    




{%endblock%}