<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {%for r in result %}
    <ul>
        <li>Name:{{r.Name}}</li>
        <li>Price:{{r.Price}}</li>
        <li>Description:{{r.Description}}</li>
        <li>Date Posted:{{r.date}}</li>
        <li>Posted By: {{r.username}}</li>
        <li>Email: {{r.email}}</li>
        <li><a href="{{url_for('delete_listing',product_id=r._id)}}">delete</a></li>

        
    </ul>
    {%endfor%}
</body>
</html>