{% extends "base.template.html"%}
{%block content%}
<body>
<div id="container-signup">
    <form method="POST">
        <label>Username: </label>
        <input type="text" name="username" placeholder="Name"/>
        <label>Email: </label>
        <input type="text" name="email" placeholder="Email"/>
        <label>Password: </label>
        <input type="text" name="password" placeholder="Password"/>
        <div id="low">
        <input class="btn btn-primary active" type="submit" value="SIGN UP">
        <a class="btn btn-outline-success active" id="register" href="{{url_for('show_product')}}" role="button"><b>Back</b></a>
        </div>
    </form>
</div>
</body>

{%endblock%}