<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

        <label>Name:</label>
        <input type="text" name="name" value="{{user_product.Name}}"/>
        <br/>
        <label>Price:</label>
        <input type="text" name="price" value="{{user_product.Price}}"/>
        <br/>
        <label>Username</label>
        <input type="text" name="username" value="{{user_user.username}}"/>
        <br/>
  
</body>
</html>