body{
    background-color:rgb(220,220,220);
}


#top-banner{
    background-image:url("/static/image/banner.png");
    background-size:cover;
    background-position: center bottom;

}

.h1{
    font-family: "Lacquer";
   

}

.lead{
    font-family: "Dosis";
    color:red;
    
}

h4{
    padding-top:10px;
    padding-bottom:10px;
    font-family: "Ubuntu";
    
}

.card{
    padding:10px;
    margin:10px;
    min-width: 26rem;
    max-width: 26rem;
}

.card-deck{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}


#cart{
    margin:10px;
}

#container-login{
    width: 100%;
    height:100%;
    color: black;
    
    position: fixed;
    width:340px;
    height:325px;
    top:50%;
    left:50%;
    margin-top: -139px;
    margin-left: -169px;
    border-radius : 4px;
    border: 1px solid rgb(0, 0, 0);
        border-radius:2px;

}

#form{
    margin: 0 auto;
    margin-top: 30px;
}
label{
    display: inline-block;
    margin-left:18px;
    padding-top:30px;
    font-size: 16px;
}

#low{
    background : #ff7644;
    width:100%;
    height:69px;
    margin-top:20px;

}
input[type=text],
input[type=password]{
    padding-left:15px;
    margin: 8px;
    margin-top:12px;
    margin-left:18px;
    width: 290px;
    height :35px;
}

input[type=submit]{
    float:right;
    margin-right:18px;
    margin-top: 18px;
    width:80px;
    height:30px;
}

#register{
float:left;
margin-left:18px;
margin-top: 18px;
width:80px;
height:30px;

}