body{
    background-color:rgb(220,220,220);
}


#top-banner{
    background-image:url("/static/image/banner.png");
    background-size:cover;
    background-position: center bottom;

}

.h1{
    font-family: "Lacquer";
   

}



.h3{
    font-family: "Dosis";
    color:red;
    
}

h4{
    padding-top:10px;
    padding-bottom:10px;
    font-family: "Ubuntu";
    
}

.card{
    padding:10px;
    margin:10px;
    min-width: 26rem;
    max-width: 26rem;
}

.card-deck{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}


#cart{
    margin:10px;
}

.form-container{
    margin-top: 100px;
    border-radius:10px;
    padding:30px;
    box-shadow: 1px 1px 11px 1px;
}